$uninstall-background: #ff382d;
$uninstall-shadow: #dc2f25;
$cancel-color: #8c94a4;
$cancel-border: #d8dfeb;

$popup-transition-duration: 0.3s;
$custom-timing-function: cubic-bezier(0.82, 0.21, 0.9, 0.7);